$RA1: rgb(17, 154, 151);
$RA2: rgb(113, 222, 149);
$RA3: rgb(241, 85, 77);
$RA4: rgb(41, 42, 42);
$RA5: rgb(48, 51, 51);
$RA6: rgb(225, 239, 239);
$RA7: #f3b044;
$RA8: #73c6b6;
$RA9: rgba(238, 243, 244, 0.87);

.popup-card {
  border: 1px solid $RA7;
  width: 200px;
  height: auto;
  background-color: $RA9;
  border-radius: 5px;
  display: flex;
  justify-content: center;

  flex-direction: column;
  padding: 20px;
  .name {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 600;
    text-align: left;
    margin-top: -7px;
  }

  .headline {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
    margin-top: -15px;
  }
  .popup-option {
    cursor: pointer;
  }
}
