$RA1: rgb(17, 154, 151);
$RA2: rgb(113, 222, 149);
$RA3: rgb(241, 85, 77);
$RA4: rgb(41, 42, 42);
$RA5: rgb(48, 51, 51);
$RA6: rgb(236, 245, 245);
$RA7: #f3b044;
$RA8: #73c6b6;

.connections-main {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
  margin: 30px;
  border: 1px solid $RA7;
  background-color: rgb(248, 249, 234);
  border-radius: 10px;
  .grid-child {
    border: 1px solid $RA7;
    width: 250px;
    height: 330px;
    margin: 10px;
    padding: 10px;
    display: flex;

    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    cursor: pointer;

    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      margin-top: 20px;
      border: 3px solid $RA7;
      box-shadow: 1px 1px 50px $RA7;
    }

    .name {
      font-family: system-ui;
      font-size: 16px;
      font-weight: 600;
    }

    .headline {
      margin-top: -15px;
      font-family: system-ui;
      font-size: 15px;
      font-weight: 400;
    }

    button {
      width: 90%;
      height: 40px;
      position: absolute;

      bottom: 10px;
      cursor: pointer;
      background-color: $RA1;
      color: $RA7;
      border: 1px solid $RA7;
      font-size: 16px;
      font-family: system-ui;
      border-radius: 30px;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    button:hover {
      border: 2px solid $RA1;
      background-color:  $RA7;
      color:$RA1
    }
  }
}
